.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite .17s linear;
    0%   {background-color: transparent; border-radius: 20%;}
    25%  {background-color: transparent; border-radius: 90%;}
    50%  {background-color: transparent; border-radius: 69%;}
    100% {background-color: transparent; border-radius: 10%;}
    border-radius: 50%;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
    0%   {background-color: transparent; border-radius: 50%;}
    25%  {background-color: transparent; border-radius: 50%;}
    50%  {background-color: transparent; border-radius: 50%;}
    100% {background-color: transparent; border-radius: 50%;}
    
  }
  to {
    transform: rotate(360deg);
  }
  0%   {background-color: transparent; border-radius: 50%;}
  25%  {background-color: transparent; }
  50%  {background-color: transparent;}
  100% {background-color: transparent ;}
  border-radius: 50%;
}